# Global
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
*.env

# Node.js
node_modules/
dist/
build/
.cache/
.temp/


# Frontend (Next.js)
.next/
out/
.vercel/
.turbo/

# Local files from next dev
**/.next/
**/node_modules/

# Backend Node

backend-node/node_modules/
backend-node/dist/
backend-node/.env


# Docker

postgres_data/
docker-data/
*.pid

# Exclude docker build cache
**/.dockerignore

# Hasura
hasura/metadata/databases/databases.yaml
hasura/migrations/*/schema.sql
hasura/migrations/*/down.sql
hasura/migrations/*/up.sql

# OS / Editor junk

*.swp
*.swo
*.tmp
*.bak
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Logs
logs/
*.log
*.csv
*.sqlite
